<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TIT Chatbot</title>

    <!-- CSs -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="box">
        <h2>TIT Chatbot</h2>

        <form method="POST">
            <input type="text" name="message" placeholder="Ask something..." required>
            <button type="submit">Send</button>
        </form>

        {% if user_msg %}
<div class="chat user">
    <strong>You:</strong> {{ user_msg }}
</div>
{% endif %}

{% if reply %}
<div class="chat bot">
    <strong>Bot:</strong> {{ reply }}
</div>
{% endif %}

    </div>

    <!-- JS 연결 -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
